/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para encabezado */
h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
 h3{
  text-align: center;
 }
/* Estilos para el formulario */
.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form button {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 12px;
  background-color: #7633fa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 650;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #FA7633;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .form input[type="text"] {
    font-size: 14px;
  }

  .form button {
    font-size: 14px;
  }
}
